.Section{
    margin-top: 24px;
    padding-top: 4rem;
    padding-left: 5rem;
    
}

.section-git{
    margin-left: 10px;
    margin-top: 14px;
    width: 191px !important;
    height: 151px !important;
    border-radius: 94px !important;
}

.section-cam {
    margin-top: 2rem;
    margin-left: 7rem;
}

.section-text{
    margin-top: 18px;
}

.section1{
    width: 29%;
}

.myAccount{
   
    display: flex;
    flex-wrap: nowrap;
    align-content: center; 
}

.user-sections{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}

.section2{
    margin-left: 2rem;
    margin-top: 1rem;
}

.section2-p{
    margin-left: 49rem;
}

.user-details{
    display: flex;
    flex-wrap: nowrap;
    align-content: center; 
    margin-top: 25px;
    margin-left: 3rem;
}

.section2-h6{
    margin-left: 7rem;
}

.section2-h7{
    margin-left: 10rem;
}


.section2-p1{
    margin-left: 4rem
}

.section2-p2{
    margin-left: 7rem;
}

.section2-p3{
    margin-left: 3rem;
}

.s-Edit{
    margin-left: 55rem;
}

.section-Address{
    margin-top: 4rem;
}

                        /* section-icons */

                        .section2-main {
                            margin-top: -11rem;
                            margin-left: 9rem;
                        }
                        
                        .section2-icons {
                            padding-left: 356px;
                            padding-top: 178px;
                        }
                        
                        .section-icon{
                            margin-left: 13rem; 
                        }
                        
                        .section-icon2{
                            margin-left: 17rem;
                        }
                        .section-icon3{
                            margin-left: 17rem;
                        }
                        
                        .section2-content1{
                            margin-left: 20rem;
                            margin-top: 1.2rem;
                        }
                        .section2-content11{
                            margin-left: 18rem;
                        }
                       
                        .section2-content2{
                            margin-left: 41rem;
                            margin-bottom: 8px;
                            margin-top: -9rem;
                        }
                        .section2-content22{
                            margin-left: 41rem;
                        }
                       
                        
                        
                        .section2-content3{
                            margin-left: 62rem;
                            margin-bottom: 8px;
                            margin-top: -8rem;
                        }
                        
                        .section2-content33{
                            margin-left: 62rem;
                        }
                    .section2-card1{
                        margin-left: 20rem;
                        margin-top: -12rem;
                        }
                        .section2-card2{
                            margin-left: 40rem;
                            margin-top: -12rem;
                            }