.NavBar-img2 {
    width: 47px;
    margin-left: 62px;
    margin-top: 21px;
}

.NavBar-icons{
    margin-left: 86rem;
    margin-top: -2rem;
}

.NavBar-icon1 {
    margin-left: -24px;
    margin-right: 10px
}

.NavBar-git{
    margin-left: 18px;
}

.NavBar-credit{
    margin-left: 19px;
}

.shadow{
    -webkit-box-shadow:0px 1px 1px #150c09;
     -moz-box-shadow:0px 1px 1px #240c04;
     box-shadow:0px 1px 1px #240c04;
  }

  .useravatar {
    margin-left: 1.3rem;
    max-width: 100%;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}