.DotHeader{
    width: 100%;
    margin: 0;
    height: 60px;
    position: fixed;
    background: #d84f57;
}

.DotLogo{
    width: 89px;
    height: 59px;
    text-indent: -1000px;
    float: left;
    margin-left: 5rem;
}

.DotHeader1{
    padding-left: 5rem;
    display: flex;
}

.DotHeader2{
    color: white;
    margin-top: 1rem;
    display: flex;
}

.DotHeader3{
    color: white;
    margin-left: 10px;
    margin-top: 1rem;
    display: flex;
}