.h6s{
    margin-left: 4rem; 
      
}

.h6{
    font-size: 0.7rem;
    padding-left: 4rem;
    padding-top: 7rem;
}
                    /* first Section */
.section-card{
    margin-left: 4rem;
    margin-top: 1rem;
    display: flex;
  flex-wrap: nowrap;
  align-content: center;
}
.section-card1{
    margin-left: 0rem;
    width: 22rem;
    height: 1rem;
    
}

.section-card2{
    margin-left: 1.4rem;
    width: 22rem;
    height: 1rem;
}

.section-card3{
    margin-left: 2.4rem;
    width: 22rem;
    height: 1rem;
}

.section-card4{
    margin-left: 3.4rem;
    width: 22rem;
    height: 1rem;
}
.sectionIcon{
    margin-left: 87rem;
    margin-top: -4rem;
    font-size: 2rem;
}
.sectionIcon1{
    margin-left: 1rem;
    margin-top: -4rem;
    font-size: 2rem;
}

.section-cardNames{
    display: flex;
  flex-wrap: nowrap;
  align-content: center;
  margin-top: 1.2rem;
  height: 7.8rem;
}
.s-cards1{
    margin-left: 4rem;
}
.s-cards2{
    margin-left: 11rem;
}
.s-cards3{
    margin-left: 17rem;
}
.s-cards4{
    margin-left: 15rem;
}

        /* Second Section */
.section2-card{
            margin-left: 4rem;
            margin-top: 1rem;
            display: flex;
          flex-wrap: nowrap;
          align-content: center;
        }        

.homesection2{
    margin-top: -7rem;
}

.section2-card1{
    margin-left: 0rem;
    width: 26rem;
    height: 1rem;
    
}

.section2-card2{
    margin-left: 2.8rem;
    width: 26rem;
    height: 1rem;
}

.section2-card3{
    margin-left: 3rem;
    width: 26rem;
    height: 1rem;
}

.section2-cardNames{
    display: flex;
  flex-wrap: nowrap;
  align-content: center;
  margin-top: 1.2rem;
  height: 7.8rem;
}

.s2-cards1{
    margin-left: 4rem;
}
.s2-cards2{
    margin-left: 15rem;
}
.s2-cards3{
    margin-left: 25rem;
}

.section2-button{
    margin-left: 4rem;
    margin-top: -2rem;
    background-color: white;
}

.section2-button1
{
    background-color: white;
     border-color: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1.6rem;
  border: 1px solid black;
}

.section3{
    width: 75%;
    height: 450px;
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5rem;
    margin-left: 12rem;
    border-radius: 2rem;
}

.section3-text{
    color: white;
    font-size: 4.1rem;
    margin-left: 21rem;
    margin-top: -27rem;
}

.section3-button{
    margin-left: 21rem;
}
.section3-button1{
    background-color: rgb(48, 34, 34);
    border-color: black;
 color: white;
 text-align: center;
 font-size: 25px;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 1.6rem;
 border: 1px solid black;
}

            /* Section 4 */


.section4-card{
    margin-left: 4rem;
    margin-top: 2rem;
    display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.section4-card1{
    margin-left: 0rem;
    height: 20rem;
    width: 20rem;
    border-radius: 20px !important;
    /* box-shadow: 5px 5px 5px 5px white; */

}

.section4-card2{
    margin-left: 2.8rem;
    width: 26rem;
    height: 1rem;
    border-radius: 2.375rem !important;
}

.section4-card3{
    margin-left: 3rem;
    width: 26rem;
    height: 1rem;
    border-radius: 2.375rem !important;
}
.section4-card4{
    margin-left: 3rem;
    width: 26rem;
    height: 1rem;
    border-radius: 2.375rem !important;
}

.section4-cardNames{
    display: flex;
  flex-wrap: nowrap;
  align-content: center;
  margin-top: 1.2rem;
  white-space: nowrap;
  
}
.s4-cards1{
    margin-left: 4rem;
    border-radius: 10px;
}
.s4-cards2{
    margin-left: 11rem;
}
.s4-cards3{
    margin-left: 8.3rem;
}
.s4-cards4{
    margin-left: 12rem;
}

.section4-cardNames2{
    display: flex;
  flex-wrap: nowrap;
  align-content: center;
    font-size: 1rem;
}

.s4-p1{
    margin-left: 4rem;
}
.s4-p2{
    margin-left: 15rem;
    margin-top: 0rem;
}
.s4-p3{
    margin-left: 15rem;
    margin-top: 0rem;
}
.s4-p4{
    margin-left: 16rem;
}

.section4-rate{
    display: flex;
  flex-wrap: nowrap;
  align-content: center;
    font-size: 1rem;
}

.s4-r1{
    margin-left: 4rem;
    margin-top: -20px;
}
.s4-r2{
    margin-left: 18rem;
    margin-top: -20px;
}
.s4-r3{
    margin-left: 18rem;
    margin-top: -20px;
}
.s4-r4{
    margin-left: 19rem;
    margin-top: -16px;
 } 

 .review1{
    margin-left: 14rem;
    margin-top: -6rem;
    font-size: 14px;
    color: #ff3b00;
} 

.review2{
    margin-left: 38rem;
    margin-top: -5rem;
    font-size: 14px;
    color: #ff3b00;
} 
.review3{
    margin-left: 61rem;
    margin-top: -5rem;
    font-size: 14px;
    color: #ff3b00;
} 
.review4{
    margin-left: 83rem;
    margin-top: -75px;
    font-size: 14px;
    color: #ff3b00;
} 

 .p1{
    margin-top: -70px;
    margin-left: 242px;
} 

.p2{
     margin-top: -63px;
     margin-left: 39rem;
} 

.p3{
    margin-top: -63px;
    margin-left: 62rem;
} 
.p4{
    margin-top: -60px;
    margin-left: 84rem;
} 

.section4-button{
    margin-left: 4rem;
    margin-top: 2rem;
    background-color: white;
}

.section4-button1
{
    background-color: white;
     border-color: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1.6rem;
  border: 1px solid black;
}

                          /* Section 5 */
                        
     .section5{
        width: 45%;
        height: 652px;
        background-size: cover ;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 5rem;
        margin-left: 9rem;
        border-radius: 2rem;
    }

    .section5-img{
        position: absolute;
        margin-left: 10rem;
    }

    
    
        .text5 {
            color: white;
            margin-left: 49px;
            margin-top: -29rem;
            font-size: 2.1rem;
        }
    

    
    .section5-button1{
        background-color: black;
        border-color: black;
     color: white;
     text-align: center;
     font-size: 25px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 1.6rem;
     border: 1px solid black;
     margin-left: 3rem;
    }

    .text5-img2{
        color: white;
        margin-left: 43rem;
        margin-top: -12rem;
        font-size: 2.1rem;
    }

    .section5-1{
        position: absolute;
    }

    .section5-button2{
        background-color: black;
        border-color: black;
     color: white;
     text-align: center;
     font-size: 25px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 1.6rem;
     border: 1px solid black;
     margin-left: 43rem;
    }

    .section5-button3{
        margin-left: 8rem;
        margin-top: 3rem;
        background-color: white;
    }
    
    .section5-button4
    {
        background-color: white;
         border-color: black;
      color: black;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 1.6rem;
      border: 1px solid black;
    }

    